.card-group {
    box-shadow: 
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 480px;
}

.login-button {
    width: 100%;
}

.login-form {
    display: flex;
    justify-content: center;

}

.version {
    margin-top: 5px;
    background: linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

